# Ignore third-party (vendored) YAML/other files
ThirdParty/**
Source/ThirdParty/**
**/ThirdParty/**

# Ignore build outputs
bin/**
build/**
Intermediate/**

# Ignore enum include tables that are not valid Prettier syntax
Source/**/*.inc
